asgiref==3.2.3
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
dj-database-url==0.5.0
Django==3.0.3
django-cors-headers==3.2.1
django-extensions==2.2.8
django-rest-framework==0.1.0
django-sslserver==0.22
djangorestframework==3.11.0
gunicorn==20.0.4
idna==2.9
psycopg2==2.8.4
pycparser==2.19
PyJWT==1.7.1
pyOpenSSL==19.1.0
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.0
twilio==6.35.5
urllib3==1.25.8
Werkzeug==1.0.0
whitenoise==5.0.1
